build
.secrets
*.mp4
*.tar
*.pkl
*.jpg
*.el
*.pth


run_bench/normal_run/img_recog/images
run_bench/normal_run/graph_dir
run_bench/normal_run/cifar100/data
run_bench/playground
run_bench/vtune_log
dl/train_data_batch_1
run_bench/normal_run/img_recog/